{
    "compiler": "modular",
    "name": "JQ-CozOfU",
    "version": "1.0.0",
    "dependencies": {},
    "alias": {},
    "export": [
            "scripts/appreciate.js",
            "scripts/banner.js",
            "scripts/goods.js",
            "scripts/index.js",
            "scripts/select.js",
            "scripts/service.js",
            "scripts/sheyingshi.js",
            "scripts/start.js",
            "scripts/sys.js",
            "scripts/car.js",
            "scripts/hunsha.js",
            "scripts/paiji.js",
            "styles/css.css",
            "styles/0206.css",
            "styles/index.css",
            "styles/main.scss",
            "styles/sheying.scss",
            "styles/sys.scss",
            "styles/car.scss"
    ]
}